USE [master]
GO
/****** Object:  Database [prokoshev_YP04]    Script Date: 19.10.2025 18:04:36 ******/
CREATE DATABASE [prokoshev_YP04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prokoshevYP04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\prokoshevYP04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prokoshevYP04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\prokoshevYP04_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prokoshev_YP04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prokoshev_YP04]
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Должность] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Клиент] [int] NULL,
	[Дата] [date] NULL,
	[Сумма] [float] NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История входа]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История входа](
	[Код истории входа] [int] IDENTITY(1,1) NOT NULL,
	[Сотрудник] [int] NULL,
	[Дата и время] [datetime] NULL,
 CONSTRAINT [PK_История входа] PRIMARY KEY CLUSTERED 
(
	[Код истории входа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категории товаров]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категории товаров](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Категории товаров] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Номер телефона] [nvarchar](12) NULL,
	[Дата рождения] [date] NULL,
	[Пол] [nvarchar](10) NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[Фото] [nvarchar](max) NULL,
	[Email] [nvarchar](60) NULL,
	[Улица] [nvarchar](100) NULL,
	[Номер дома] [nvarchar](10) NULL,
	[Номер квартиры] [nvarchar](10) NULL,
	[Номер подъезда] [nvarchar](10) NULL,
	[Номер этажа] [nvarchar](10) NULL,
 CONSTRAINT [PK_Клиент] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Подразделение]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подразделение](
	[Код подразделения] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Подразделение] PRIMARY KEY CLUSTERED 
(
	[Код подразделения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Права доступа]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Права доступа](
	[Логин] [nvarchar](30) NOT NULL,
	[Пароль] [nvarchar](50) NULL,
 CONSTRAINT [PK_Права доступа] PRIMARY KEY CLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Серия и номер] [nvarchar](11) NULL,
	[Фото] [nvarchar](50) NULL,
	[Номер телефона] [nvarchar](12) NULL,
	[Email] [nvarchar](50) NULL,
	[Должность] [int] NULL,
	[Логин] [nvarchar](30) NULL,
	[Подразделение] [int] NULL,
	[Дата рождения] [date] NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Категория] [int] NULL,
	[Наименование] [nvarchar](50) NULL,
	[Описание] [nvarchar](max) NULL,
	[Цена] [decimal](20, 2) NULL,
	[Картинка] [nvarchar](70) NULL,
	[Остаток товара] [int] NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары в заказе]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары в заказе](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Товар] [int] NULL,
	[Количество] [int] NULL,
	[Стоимость] [float] NULL,
	[Заказ] [int] NULL,
 CONSTRAINT [PK_Товары в заказе] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары в корзине]    Script Date: 19.10.2025 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары в корзине](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Товар] [int] NULL,
	[Клиент] [int] NULL,
	[Количество] [int] NULL,
	[Стоимость] [float] NULL,
 CONSTRAINT [PK_Товары в корзине] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Должность] ON 

INSERT [dbo].[Должность] ([Код], [Наименование]) VALUES (1, N'Администратор')
INSERT [dbo].[Должность] ([Код], [Наименование]) VALUES (2, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Должность] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказ] ON 

INSERT [dbo].[Заказ] ([Код], [Клиент], [Дата], [Сумма]) VALUES (1, 4, CAST(N'2025-06-19' AS Date), 969)
INSERT [dbo].[Заказ] ([Код], [Клиент], [Дата], [Сумма]) VALUES (2, 3, CAST(N'2025-06-19' AS Date), 2761.2)
INSERT [dbo].[Заказ] ([Код], [Клиент], [Дата], [Сумма]) VALUES (3, 3, CAST(N'2025-06-19' AS Date), 2761.2)
SET IDENTITY_INSERT [dbo].[Заказ] OFF
GO
SET IDENTITY_INSERT [dbo].[История входа] ON 

INSERT [dbo].[История входа] ([Код истории входа], [Сотрудник], [Дата и время]) VALUES (1, 3, CAST(N'2025-06-17T00:05:44.117' AS DateTime))
INSERT [dbo].[История входа] ([Код истории входа], [Сотрудник], [Дата и время]) VALUES (2, 3, CAST(N'2025-06-17T00:07:32.263' AS DateTime))
INSERT [dbo].[История входа] ([Код истории входа], [Сотрудник], [Дата и время]) VALUES (3, 3, CAST(N'2025-06-17T00:08:24.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[История входа] OFF
GO
SET IDENTITY_INSERT [dbo].[Категории товаров] ON 

INSERT [dbo].[Категории товаров] ([Код], [Наименование]) VALUES (1, N'Канцелярия')
INSERT [dbo].[Категории товаров] ([Код], [Наименование]) VALUES (2, N'Техника')
INSERT [dbo].[Категории товаров] ([Код], [Наименование]) VALUES (3, N'Стройматериалы')
SET IDENTITY_INSERT [dbo].[Категории товаров] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([Код], [Фамилия], [Имя], [Отчество], [Номер телефона], [Дата рождения], [Пол], [Логин], [Пароль], [Фото], [Email], [Улица], [Номер дома], [Номер квартиры], [Номер подъезда], [Номер этажа]) VALUES (3, N'Новиков', N'Антон', N'Викторович', N'+79454545454', CAST(N'1999-07-23' AS Date), N'М', N'novik123', N'YOMJA7ZVPuee80FJaTjezfNjs2m24Q49y+9hrqA5sMQ=', N'Снимок экрана 2025-04-15 122405.png', N'Novikov@mail.ru', N'Бажова', N'12', N'3', N'1', N'1')
INSERT [dbo].[Клиенты] ([Код], [Фамилия], [Имя], [Отчество], [Номер телефона], [Дата рождения], [Пол], [Логин], [Пароль], [Фото], [Email], [Улица], [Номер дома], [Номер квартиры], [Номер подъезда], [Номер этажа]) VALUES (4, N'Проверка', N'Проверка', N'Проверка', N'+79464734545', CAST(N'1999-06-16' AS Date), N'М', N'proverkra1', N'ts+i2KScV0PdfmEHYN13iJEbI0cbmuy8lTZl7a/QKtU=', NULL, N'FsdfSd@mail.ru', N'Ласьвинская', N'15', N'10', N'', N'')
INSERT [dbo].[Клиенты] ([Код], [Фамилия], [Имя], [Отчество], [Номер телефона], [Дата рождения], [Пол], [Логин], [Пароль], [Фото], [Email], [Улица], [Номер дома], [Номер квартиры], [Номер подъезда], [Номер этажа]) VALUES (5, N'Чекович', N'Антон', N'Викторович', N'+79454569545', CAST(N'2004-06-16' AS Date), N'М', N'check123', N'xpinp1FmCXkZ7AvhQuyo8HTGpu4O92dVNhPAfajqJxw=', NULL, N'prokoshev_2019@mail.ru', N'Ласьвинская', N'3F', N'35', N'', N'')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
INSERT [dbo].[Подразделение] ([Код подразделения], [Наименование]) VALUES (1, N'Отдел')
INSERT [dbo].[Подразделение] ([Код подразделения], [Наименование]) VALUES (2, N'Бюро')
INSERT [dbo].[Подразделение] ([Код подразделения], [Наименование]) VALUES (3, N'Цех')
GO
INSERT [dbo].[Права доступа] ([Логин], [Пароль]) VALUES (N'Balueva123', N'pd2smgT+YcB9b0NZ4Mpd4K3WfwhpHNdkbUsqqtYUjHU=')
INSERT [dbo].[Права доступа] ([Логин], [Пароль]) VALUES (N'bread123', N'PFUDhwSddBqcnEdQqxPbVE4s5fAOe2VhxeZ7PXa6Qm4=')
INSERT [dbo].[Права доступа] ([Логин], [Пароль]) VALUES (N'dfgd34', N'nG1AW7otskv70i/H/3Szm9nF6cbOZimcZRm+UX5u18Y=')
GO
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([Код], [Фамилия], [Имя], [Отчество], [Серия и номер], [Фото], [Номер телефона], [Email], [Должность], [Логин], [Подразделение], [Дата рождения]) VALUES (3, N'Иванов', N'Иван', N'Иванович', N'5719 574935', N'user2.jpg', N'89493885456', N'Ivan@mail.ru', 1, N'ivan123', 1, CAST(N'1993-04-21' AS Date))
INSERT [dbo].[Сотрудник] ([Код], [Фамилия], [Имя], [Отчество], [Серия и номер], [Фото], [Номер телефона], [Email], [Должность], [Логин], [Подразделение], [Дата рождения]) VALUES (4, N'Прокошев', N'Владислав', N'Николаевич', N'5715 579357', N'что с лицом.png', N'89518458434', N'Prois@mail.ru', 2, N'prois222', 1, CAST(N'2006-01-28' AS Date))
INSERT [dbo].[Сотрудник] ([Код], [Фамилия], [Имя], [Отчество], [Серия и номер], [Фото], [Номер телефона], [Email], [Должность], [Логин], [Подразделение], [Дата рождения]) VALUES (5, N'Провека', N'Провека', N'Провека', N'5422 684590', N'user3.jpg', N'+79494834543', N'dfgdsd@mail.ru', 2, N'dfgd34', 2, CAST(N'2004-06-15' AS Date))
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
GO
SET IDENTITY_INSERT [dbo].[Товары] ON 

INSERT [dbo].[Товары] ([Код], [Категория], [Наименование], [Описание], [Цена], [Картинка], [Остаток товара]) VALUES (1, 1, N'Ножницы', N'Хорошо режут', CAST(300.00 AS Decimal(20, 2)), N'Ножницы.png', 0)
INSERT [dbo].[Товары] ([Код], [Категория], [Наименование], [Описание], [Цена], [Картинка], [Остаток товара]) VALUES (2, 3, N'Керамогранитная плита', N'Главные отличия от напольной плитки — более высокая однородность состава, высокая механическая прочность и низкое водопоглощение', CAST(700.00 AS Decimal(20, 2)), NULL, 10)
INSERT [dbo].[Товары] ([Код], [Категория], [Наименование], [Описание], [Цена], [Картинка], [Остаток товара]) VALUES (3, 1, N'Ручка', N'Хорошо пишет', CAST(50.00 AS Decimal(20, 2)), N'Ручка.jpg', 0)
SET IDENTITY_INSERT [dbo].[Товары] OFF
GO
SET IDENTITY_INSERT [dbo].[Товары в заказе] ON 

INSERT [dbo].[Товары в заказе] ([Код], [Товар], [Количество], [Стоимость], [Заказ]) VALUES (1, 5, 26, 624, 1)
INSERT [dbo].[Товары в заказе] ([Код], [Товар], [Количество], [Стоимость], [Заказ]) VALUES (2, 4, 12, 396, 1)
INSERT [dbo].[Товары в заказе] ([Код], [Товар], [Количество], [Стоимость], [Заказ]) VALUES (3, 3, 7, 350, 2)
GO
SET IDENTITY_INSERT [dbo].[Товары в заказе] OFF
GO
SET IDENTITY_INSERT [dbo].[Товары в корзине] ON 

INSERT [dbo].[Товары в корзине] ([Код], [Товар], [Клиент], [Количество], [Стоимость]) VALUES (1, 2, 3, 2, 1400)
SET IDENTITY_INSERT [dbo].[Товары в корзине] OFF
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Клиенты] FOREIGN KEY([Клиент])
REFERENCES [dbo].[Клиенты] ([Код])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Клиенты]
GO
ALTER TABLE [dbo].[История входа]  WITH CHECK ADD  CONSTRAINT [FK_История входа_Сотрудник] FOREIGN KEY([Сотрудник])
REFERENCES [dbo].[Сотрудник] ([Код])
GO
ALTER TABLE [dbo].[История входа] CHECK CONSTRAINT [FK_История входа_Сотрудник]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Должность] FOREIGN KEY([Должность])
REFERENCES [dbo].[Должность] ([Код])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Должность]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Подразделение] FOREIGN KEY([Подразделение])
REFERENCES [dbo].[Подразделение] ([Код подразделения])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Подразделение]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Права доступа] FOREIGN KEY([Логин])
REFERENCES [dbo].[Права доступа] ([Логин])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Права доступа]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK_Товары_Категории товаров] FOREIGN KEY([Категория])
REFERENCES [dbo].[Категории товаров] ([Код])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK_Товары_Категории товаров]
GO
ALTER TABLE [dbo].[Товары в заказе]  WITH CHECK ADD  CONSTRAINT [FK_Товары в заказе_Заказ] FOREIGN KEY([Заказ])
REFERENCES [dbo].[Заказ] ([Код])
GO
ALTER TABLE [dbo].[Товары в заказе] CHECK CONSTRAINT [FK_Товары в заказе_Заказ]
GO
ALTER TABLE [dbo].[Товары в заказе]  WITH CHECK ADD  CONSTRAINT [FK_Товары в заказе_Товары] FOREIGN KEY([Товар])
REFERENCES [dbo].[Товары] ([Код])
GO
ALTER TABLE [dbo].[Товары в заказе] CHECK CONSTRAINT [FK_Товары в заказе_Товары]
GO
ALTER TABLE [dbo].[Товары в корзине]  WITH CHECK ADD  CONSTRAINT [FK_Товары в корзине_Клиенты] FOREIGN KEY([Клиент])
REFERENCES [dbo].[Клиенты] ([Код])
GO
ALTER TABLE [dbo].[Товары в корзине] CHECK CONSTRAINT [FK_Товары в корзине_Клиенты]
GO
ALTER TABLE [dbo].[Товары в корзине]  WITH CHECK ADD  CONSTRAINT [FK_Товары в корзине_Товары] FOREIGN KEY([Товар])
REFERENCES [dbo].[Товары] ([Код])
GO
ALTER TABLE [dbo].[Товары в корзине] CHECK CONSTRAINT [FK_Товары в корзине_Товары]
GO
USE [master]
GO
